
@import "bootstrap-variables"

.footer
    display: flex
    flex-wrap: nowrap
    justify-content: center
    border-top: 1px solid $gray-lighter
    margin-top: 10px
    padding-top: 10px

    span
        display: inline-block
        margin: auto 2px

    svg
        display: inline-block
        margin-top: 3px
        width: 15px
        height: 15px
