/**
 * Global Stylesheet
 * ===
 *
 * Classes that are defined in this file will be globally available to the app
 */

// Import Twitter Bootstrap variables for a uniform theming
@import "bootstrap-variables"

.date-time
    display: inline-block
    margin: 1px 2px
    padding: 2px 4px
    border: 1px solid $gray-light
    border-radius: 3px
    color: $brand-primary
